-var amt = (listItem.numberOfSlots - listItem.procedures.length)
li(id='list-item-' + listItem.time, rel='#detail-view-content-item-' + listItem.time).list-items
	div.list-item-text
		div.list-item-title Time: #{listItem.time}
		div.list-item-description Number of Remaining Slots: 
			span(id='list-item-description-amt-' + listItem.time)!{amt}
		div(id='list-item-' + listItem.time + '-collapsible').list-item-patient-list.hidden
			-each procedure in listItem.procedures
				ul(rel='/ct/view.html/form/' + procedure.schedule_id).list-no-decorations.list-item-procedure
					li= procedure.patient.first_name + ' ' + procedure.patient.last_name
					li= 'Protocol: ' + procedure.protocol
					li= 'Diagnosis: ' + procedure.diagnosis
			- var temp = []
			- temp.length = amt
			- var i = 0
			- each item in temp
				ul.list-no-decorations.list-item-procedure
					li(rel=listItem.time, id='new-schedule-' + listItem.time + '-' + i).click-to-add-procedure Click to add a patient
					- i++